name: build/release

on: push

jobs:
  release:
    runs-on: ubuntu-latest # ${{ matrix.os }}

    #strategy:
    #  matrix:
    #    os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - name: check out repo
        uses: actions/checkout@v4

      - name: install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: build cctron
        run: yarn build